* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}


.header-container{
  width:100%;
  margin:0 auto;
  height:100px;
  
  padding-top:30px;
  position:fixed;
  top: 0;
  left: 0;
  background-color: blue;
  
}
header{

position:relative;

}
.search-form{
  margin:0 auto;
  width:500px;
  display:flex;
  gap:30px;
  align-items: center;
}

.search-form-input{
  display:inline-block;
  width:300px;
  height:30px;
  color:blue;
  box-shadow: #fafafa;
  font-size: 15px;
}

.search-form-btn{
  display: inline-block;
    width: 100px;
    height: 30px;
    color:blue;
    box-shadow: #fafafa;
    font-size: 15px;
    font-weight:700;
}


.gallery{
  margin: 0 auto;
  max-width:1200px;
  margin-top:130px;
  padding-bottom: 100px;
  display:flex;
  gap:30px;
  

}
.photo-card{
  width:270px;
  border: solid 5px #212121;
  
}
img{
  width:270px;
  height: 200px;
  padding:none;
}

.info{
  
  display:flex;
  justify-content: center;
  gap:5px;
  font-size: 10px;
}
.load-more{
  display:block;
  min-width:150px;
  height:50px;
  font-size:20px;
  color:white;
  background-color: blue;
  border: none;
  border-radius: 7%;
  box-shadow: #fafafa;
  margin: 0 auto;
  
}

.is-hidden{
  opacity:0;
}